.jumbotron {
    background : #3b5998;
    color : white;
    z-index: -1;
    position: relative;
    top: -70px;
    width: 100%;
    height: 30px;
}

body {
    background : #8b9dc3;

}

.row {
position: relative;
top: -50px;
}

.header {
    position: relative;
    left: -300px;

}

.navbar {
    background-color: #3b5998;
    background-image : url(../../assets/images/3.png);
    font-weight : 700;
    color: white;

}

.navbar-brand{
    color: white;
}

.form-group1{
    float: left;
    position: relative;
    right: 50px;.
    color: white;
}
.form-group{
    float: left;
    position: relative;
    right: 20px
}

.btn.btn-success {
    clear: both;
    position: relative;
    top: 30px;
}


.row2 {
    position: relative;
    top: 20px;
    }
    
.col-4.main {
    background : grey;
    background-image: url(../../assets/images/bg1.gif)
}

.passWord {
    padding: 10px;
    background: white;
}

    .footer {
    text-align: center;
    color: white;
    font-size: 20px;
    }

#userName {
    color: gold;
}

.row.row1 {
    background: grey;
}

#winCounter {
    color: limegreen;
}

#lossCounter {
    color: red;
}

h4 {
    color: white;
}

h5 {
    color: white;
}

#cluePerson {
    padding: 5px 20px 5px 5px;
    background: white;
    color: black;
    position: relative;
    bottom: 60px;
    font-weight: 600;
    font-size: 15px;
}

.welcome {
    position: relative;
    left: 23px;
}

.container.cont {
   position: relative;
   top: -35px;
}